<p class="absolute top-5 right-8 text-3xl text-white/[0.5] hover:text-white/[0.7] stroke-white/[0.5] hover:stroke-white/[0.7] font-semibold mb-5 flex gap-1">
  
  <svg width="30px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.8571 12C15.8571 14.1303 14.1302 15.8572 12 15.8572C9.86972 15.8572 8.14282 14.1303 8.14282 12C8.14282 9.86979 9.86972 8.14288 12 8.14288C14.1302 8.14288 15.8571 9.86979 15.8571 12ZM15.8571 12L15.8571 13.2857C15.8571 14.7059 17.0084 15.8571 18.4286 15.8571C19.3408 15.8571 20.1422 15.3821 20.5986 14.6658C20.8528 14.2671 21 13.7936 21 13.2857V12C21 9.3345 19.8412 6.93964 18 5.29168M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C13.9122 21 15.6851 20.4037 17.1429 19.3868" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

  <span class="hidden sm:block">Its me!</span>
</p>

<div class="w-full flex justify-center items-center relative overflow-scroll overflow-y-scroll">
  
  <div class="py-5 pr-10 sm:px-5 md:p-5 w-full flex flex-col gap-5">


    <div class="flex flex-wrap sm:flex-nowrap lg:flex-wrap gap-5 gap-y-0 lg:gap-5">
      <img
        class="rounded-lg w-60 h-60 m-2 right"
        src="https://ucarecdn.com/833d0fe1-c3b5-4843-b62c-fed9467aceeb/imageOfMyself.jpeg"
        alt="image of myself"
      />
      <div class="mt-5 mr-5 md:mr-0">
        <h1 class="text-white font-bold text-3xl md:text-5xl lg:text-2xl xl:text-3xl md:mb-5">
          Hey it's me, Mohit Kumar
        </h1>
        <p class="text-white/[0.6] text-sm md:text-xl">I am a web developer and machine learning engineer</p>
        
        <div class="gap-1 mt-2 flex-wrap hidden md:flex">
          @for (item of List; track $index) {
            <div class="font-normal text-white/[0.6] p-1 px-2.5 w-max bg-white/[0.3] border border-gray-200/[0.3] rounded-full hover:bg-gray-100/[0.3] dark:bg-gray-800/[0.3] dark:border-gray-700/[0.3] dark:hover:bg-gray-700">
              {{item}}
            </div>
          }
        </div>
        
        

      </div>
      
      
    </div>


    <!-- SHORT DESCRIPTION -->
    <p class="text-white w-full text-sm md:text-base mb-10">
      I'm Mohit, a 20-year-old undergraduate with a passion for development of web and desktop 
      aplication with great test in machine learning.
      I build dynamic and scalable web applications using Angular. Passionate about UI/UX and seamless user experiences.
    </p>



    
  </div>
  
</div>
