<!-- <p>charts works!</p> -->

<div class="h-full p-5 gap-5 flex items-center justify-between rounded-xl bg-slate-900/[0.5] border border-white/[0.2]">
    <div class="flex justify-center items-center h-full flex-1 bg-white rounded-xl">
        <div class="flex-1 grid grid-cols-3 gap-1 gap-x-1 px-10">
            <div class="card flex justify-center">
                <p-chart type="doughnut" [data]="data" [options]="options" class="w-20 lg:w-28" />
            </div>
            <div class="card flex justify-center">
                <p-chart type="doughnut" [data]="data" [options]="options" class="w-20 lg:w-28"/>
            </div>
            <div class="card flex justify-center">
                <p-chart type="doughnut" [data]="data" [options]="options" class="w-20 lg:w-28"/>
            </div>
            <div class="card flex justify-center">
                <p-chart type="doughnut" [data]="data" [options]="options" class="w-20 lg:w-28" />
            </div>
            <div class="card flex justify-center">
                <p-chart type="doughnut" [data]="data" [options]="options" class="w-20 lg:w-28" />
            </div>
            <div class="card flex justify-center">
                <p-chart type="doughnut" [data]="data" [options]="options" class="w-20 lg:w-28" />
            </div>
                
        </div>
    </div>
    

    <div class="flex-1 card flex items-center justify-center h-full bg-white rounded-xl">
        <p-chart type="radar" [data]="radardata" [options]="options" class="" />
    </div>


</div>

